div{

}
.sginmom{
    display: flex;
    justify-content: center;
    height: 90vh;
    background-color: orange;
}
.sgin1{
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3) ;
    border-radius: 5px;
    text-align: center;
    margin: 2rem;
}
.dumimg{
    border-radius: 50%;
    width: 10rem;
    margin-top: 5%;
}
.sginbtn{
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    width: 15rem;
    border: 1px solid transparent;
    border-radius: 7px;
    background-color: rgb(60, 60, 131);
    color: orange;
    animation-delay: 1.5s; 
}
.sginbtn:hover{
    background-color: orange;
    color:rgb(0, 0, 255);
    border: 3px solid rgb(60, 60, 131);
    transition: 0.5s;
}
.sginbtn:active{
    transform: scale(0.88);
}
h2{
    margin: 0;
}