*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat','Lucida Sans Unicode',  'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav{
    background: rgb(252, 223, 180);
    width: 100%;
    height: 6.5rem;
    justify-content: space-between;
}
.img1{
    width: 8rem;
    margin-left: 10%;
    padding: .5rem;
}
nav ul{
    float: right;
    margin-right: 8rem;
}
nav ul li{
    display: inline-block;
    /* line-height: 6rem; */
    margin: 2.5rem;
    transition:all 0.5s ease-in-out;
}
/* nav ul li a */
.linav a{
    color: rgb(60, 60, 131);
    font-size: 1rem;
    font-weight: bold;
    transition:all 0.5s ease-in-out;
}
.linav a:hover{
    color: orange;
    transition: ease-in-out;
}
.check{
    color: rgb(60, 60, 131);
    font-size: 2rem;
    float: right;
    line-height: 80px;
    margin-right: 2rem;
    cursor: pointer;
    display: none;
}
#check{
    display: none ;
}
@media screen and (max-width: 730px) {
    .img1{
        margin-left: 5%;
    }
    .check{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: orange;
        top: 6.5rem;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
        z-index: 2;
    }
    nav ul li{
        display: block;
    }
    #check:checked ~ ul{
        left: 0;
        display: block;
        z-index: 2;
    }
    #check:checked ~ .div1{

    }
}
@media screen and (min-width: 731px) and (max-width:1024px) {
    .img1{
        margin-left: 3%;
    }
    nav ul li{
        margin: 0.8rem;
        line-height: 50px;
       
    }
    nav ul{
         margin-right: 0;
         padding-top: 0.5rem;
    }
}
@media screen and (min-width: 751px) and (max-width:800px) {
    nav ul{
        margin-right: 0.6rem;
        padding-top: 0.5rem;
   }
}
@media screen and (min-width: 830px) and (max-width:899px) {
    .img1{
        margin-left: 7%;
    }
    nav ul li{
        margin: 0.8rem;
        line-height: 50px;
       
    }
    nav ul{
         margin-right: 2rem;
         padding-top: 0.5rem;
    }
}
@media screen and (min-width: 900px) and (max-width:1200px) {
    .img1{
        margin-left: 10%;
    }
    nav ul li{
        margin: 0.8rem;
        line-height: 50px;
       
    }
    nav ul{
         margin-right: 4rem;
         padding-top: 0.5rem;
    }
}
 .mom{
    position: relative;
 }
.div1{
    width: 100%;
    height: 85vh;
    display: flex; 
    justify-content: center;
    background-color: orange;
    background-size: cover;
    position: relative;  
}
.div2{
    max-height: 60%;
    margin-top: 5%;
    padding: 1rem;
    padding-top: 5%;
}
.div3{
    max-height: 70%;
    margin-top: 5%;
    padding: 1rem;
}
.hd2{
    color:rgb(60, 60, 131);
    font-size: 3.5rem;
    animation-delay: 0.5s ;
}
.pa2{
    color: rgb(60, 60, 131);
    font-size: 2rem;
    animation-delay: 1s; 
}
.img2{
    animation-delay: 2s; 
}
.btn1{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    padding: 1rem;
    margin-top: 1rem;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color:rgb(60, 60, 131);
    color: orange;
    transition: all 1s ease;
}
.btn1:active{
    transform: scale(0.8);
}
.lnk{
    color: orange;
    text-decoration: none;
}
.img2{
    width: 100%;
}
.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup{
    100%{
    opacity: 1;
    transform: translateY(0px);
    }
}
.hd2{
    animation-delay: 1s ;
}
.pa2{
    animation-delay: 1.5s;
}
.img2{
    animation-delay: 2s;
}
.btn1{
    animation-delay: 2.5s;
}
@media screen and (min-width: 360px) and (max-width: 479px) {
    .div1{
        height: 35vh;
    }
    .hd2{
        font-size: 1.5rem;
    }
    .pa2{
        font-size: 1rem;
    }
    .btn1{
        font-size: 1rem;
        padding: 0.5rem;
    }
    
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    .div1{
        height: 60%;
    }
    .div2{
        margin-left: 4%;
        max-height: 45%;
        padding: 0.9rem;
        margin-top: 8.5%;
    }
    .hd2{
        font-size: 1.7rem;
    }
    .pa2{
        font-size: 0.9rem;
    }
    .btn1{
        padding: 0.5rem;
        font-size: 0.9rem;
        margin-top: 0rem;
    }
    .div3{
        max-height: 35%;
        padding: 0;
        width: 50%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .div1{
        height: 60%;
    }
    .div2{
        margin-left: 6%;
        max-height: 45%;
        padding: 0.9rem;
        margin-top: 8.5%;
    }
    .hd2{
        font-size: 2rem;
    }
    .pa2{
        font-size: 1.3rem;
    }
    .btn1{
        padding: 0.7rem
    }
    .div3{
        max-height: 35%;
        width: 50%;
    }
    .img2{
        width: 25rem;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .div1{
        height: 80%;
    }
    .div2{
        margin-left: 6%;
        max-height: 45%;
        padding: 0.9rem;
        margin-top: 8.5%;
    }
    .hd2{
        font-size: 3rem;
    }
    .pa2{
        font-size: 1.6rem;
    }
    .btn1{
        padding: 1rem;
    }
    .img2{
        width: 29rem;
    }
}
/* SECTION 2 */
.mom2{
    display: flex;
    margin-top: 3rem;
}
.div5{
    margin-top: 5rem;
    min-height: 40vh;
}
.pa3{
    color: rgb(60, 60, 131);
    font-size: 3rem;
    padding: 2rem;
}
.spn1{
    color: orange;
    font-size: 4rem;
    font-weight: 600;
    margin: 0.5rem;
}

.div6{
    display: grid;
     grid-template-columns: repeat(2, 1fr);
}
.min{
    padding: 1.5rem;
    margin: 1rem;
}
.mindiv1{
    border-left: 3px solid orange;
    color: rgb(60, 60, 131);
    border-radius: 2px;
}
.mindiv2{
    border-left: 3px solid rgb(60, 60, 131);
    color: orange;
    border-radius: 2px;
}
.mindiv3{
    border-left: 3px solid rgb(60, 60, 131);
    color: orange;
    border-radius: 2px;
}
.mindiv4{
    border-left: 3px solid orange;
    color: rgb(60, 60, 131);
    border-radius: 2px;
}
/* div{
    border: 1px solid black
} */

@media screen and (min-width: 360px) and (max-width: 479px) {
    .img3{
        width: 10rem;
    }
    .pa3{
        font-size: 1rem;
    }
    .spn1{
        font-size: 1.5rem;
    }
    .div5{
        margin-top: 1rem;
        min-height: 10vh;
    }
    .min{
        margin: 0.5rem;
        padding: 0.5rem;
        border: 1px solid black;
    }
    .hdom{
        font-size: 1rem;
    }
    .paom{
        font-size: 0.8rem;
    }
    
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    .mom2{
        margin-top: 1rem;
    }
    .img3{
        width: 80%;
        /* border: 1px solid black; */
        margin-top: 5%;
    }
    .pa3{
        font-size: 1.2rem;
        padding: 0.5rem;
    }
    .spn1{
        font-size: 2rem;
    }
    .min{
        padding: 0.5rem;
        margin: 1rem;
    }
    .hdom{
        font-size: 1.2rem;
    }
    .paom{
        font-size: 0.7rem;
    }
    .div5{
        margin-top: 0rem;
        min-height: 20vh;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .mom2{
        margin-top: 1rem;
    }
    .img3{
        width: 100%;
        /* border: 1px solid black; */
        margin-top: 5%;
    }
    .pa3{
        font-size: 2rem;
        padding: 0.5rem;
        margin-top: 5%;
    }
    .spn1{
        font-size: 2.5rem;
    }
    .min{
        padding: 0.8rem;
        margin: 1rem;
    }
    .hdom{
        font-size: 1.5rem;
    }
    .paom{
        font-size: 0.9rem;
    }
    .div5{
        margin-top: 0rem;
        min-height: 20vh;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .mom2{
        margin-top: 1rem;
    }
    .img3{
        width: 100%;
        margin-top: 7%;
    }
    .pa3{
        font-size: 2.5rem;
        padding: 0.5rem;
        margin-top: 5%;
    }
    .spn1{
        font-size: 3rem;
    }
    .min{
        padding: 1rem;
        margin: 1.2rem;
    }
    .hdom{
        font-size: 2rem;
    }
    .paom{
        font-size: 1rem;
    }
    .div5{
        margin-top: 0rem;
        min-height: 20vh;
    }
    .div6{
        margin-top: 2rem;
    }
}
/* SECTION 3 */
.mom4{
    max-width: auto;
    min-height: 60vh;

}
.hd3{
    text-align: center;
    color: orange;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.mom5{
    display: flex;
    flex-wrap: wrap;
    padding: 3%;
    padding-top: 0;
    justify-content: center;
    /* display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-left: 5%; */
}
.min0{
    width: 13rem;
    height: 14rem;
    border-radius: 10px;
    margin: 1rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3) ;
    transition: 1s;
}
.min0:hover{
    transform: scale(1.05);
}
h4{
    color: orange;
    margin: 1rem;
    margin-top: 2rem;
    font-size: 1.2rem;
}
.pa4{
    color:rgb(60, 60, 131);
    padding: 1.5rem;
}

.mom6{
    min-height: 40vh;
    background-color: orange;
    padding: 2rem;
    text-align: center;
}
.hd4{
    color: rgb(60, 60, 131);
    font-size: 2rem;
    margin: 2rem;
}
.pa5{
    color: rgb(60, 60, 131);
    font-size: 1.3rem;
    margin: 1rem;
}

@media screen and (min-width: 480px) and (max-width:767px) {
    .hd3{
        font-size: 1.5rem;
        margin-top: 1rem;
    }
    /* .mom5{
        display: flex;
        flex-wrap: wrap;
        margin-left: 4%;
    }
    .min0{
        width: 10rem;
        height: 12rem;
        margin: 2.5%;
    }
    .mom6{
        margi-top: 0.5rem;
    }
    .hd4{
        margin: 0.7rem;
        margin-top: 1rem;
        font-size: 1.3rem;
    } */
}
/* FOOTER */
.mom7{
    min-height: 65vh;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}
footer{
    background-color: black;
}
.img4{
    width: 100%;
    height: 8rem;
    margin: 1rem;
    padding: 1rem;
}
.mom7{
     margin: 0rem;
     padding-top: 2rem;
}
.div7{
   /*  border: 1px solid black; */
}
.div8{
    display: flex;
    padding: 1rem;
}
.min1{
    margin: 0.8rem;
}
.lifoot{
    margin: 2rem;
    font-size: 0.7rem;
}
.lifoot a{
    text-decoration: none;
    color: white;
    transition:all 0.5s ease-in-out;
}
.lifoot a:hover{
    color: orange;
    transition: ease-in-out;
}
h3{
    color: orange;
    margin: 1rem;
    margin-left: 2rem;
    font-size: 1.2rem;
}
ul{
    list-style: none;
}
.fa-brands{
    font-size: 2rem;
    margin: 1rem;
    color: white;
}
.div9{
    display: flex;
    justify-content: center;
}
@media screen and (min-width: 480px) and (max-width: 767px){
    .mom7{
        padding-top:  2rem;
    }
    .img4{
        width: 9rem;
        height: 7rem;
        margin: 0.5rem;
        display: none;
    }
    .div8{
        flex-wrap: wrap;
    }
    h3{
        font-size: 1.1rem;
        margin-left: 0.5rem;
    }
    .lifoot{
        font-size: 0.6rem;
    }
    .lifoot{
        margin: 0.8rem;
        font-size: 0.7rem;
    }
    .fa-brands{
        font-size: 2rem;
        margin: 1rem;
      /*   margin-bottom: 3rem; */
        color: rgb(60, 60, 131);
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .mom7{
        padding-top: 2rem;
    }
    .img4{
        width: 120%;
        height: 7rem;
        margin: 0.5rem;
        margin-left: 0;
    }
    h3{
        font-size: 1.1rem;
        margin-left: 0.9rem;
    }
    ul{
        list-style: none;
        margin: 0.5rem;
    }
    .lifoot{
        font-size: 0.6rem;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    
}










/* @media screen and (min-width: 601px) and (max-width: 767px) {
    .img1{
        width: 8rem;
        margin-left: 0%;
    }
     nav{
        height: 6rem;
    }
    .linav{
        font-size: 0.6rem;
        margin: 0.5rem;
    }
} */